@model Category;

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Category</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row">
            <input asp-for="Id" hidden />

            <div class="border p-3 ">

                <div class="form-floating py-2 pt-3 col-12">
                    <label asp-for="Name" class="ms-2"></label>
                    <input asp-for="Name" type="text" class=" border-0 shadow form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                    <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" />
                </div>

                <div class="row pt-5 mt-5 justify-content-around">

                    <div class="col-6 col-md-3">
                        <button type="submit"
                                class="btn btn-outline-success form-control">
                            Upadate Category
                            <i class="bi bi-plus-square"></i>
                        </button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Category"
                           asp-action="Index"
                           class="btn btn-outline-danger form-control">
                            Back
                            <i class="bi bi-backspace"></i>
                        </a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
