@model IEnumerable<Category>;

<div class="row pt-4">

    <div class="col-6">
        <h1 class="text-success-emphasis">Category List!</h1>
    </div>

    <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create"
           class="btn btn-outline-success">
            Create <i class="bi bi-plus-circle"></i>
        </a>
    </div>


    <table class="table table-bordered table-striped table hover">

        <thead>

            <tr class="fs-4">
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var data in Model)
            {
                <tr class="">
                    <td>@data.Name</td>
                    <td>@data.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category"
                               asp-action="Edit"
                               asp-route-id="@data.Id"
                               class="btn btn-outline-warning mx-2">
                                Edit <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Category"
                               asp-action="Delete"
                               asp-route-id="@data.Id"
                               class="btn btn-outline-danger mx-2">
                                Delete <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>