@model Product;

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Remove Book &nbsp; <i class="bi bi-trash"></i></h2>
            </div>
        </div>
    </div>
     
    <div class="card-body p-4">

        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="border p-3">


                <div class="form-floating py-2 pt-3 col-12">
                    <label asp-for="Title" class="ms-2"></label>
                    <input asp-for="Title" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Description" class="ms-2"></label>
                    <textarea asp-for="Description" disabled class="form-control border-0 shadow" type="text" class="form-control"></textarea>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="ISBN" class="ms-2"></label>
                    <input asp-for="ISBN" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Author" class="ms-2"></label>
                    <input asp-for="Author" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="ListPrice" class="ms-2"></label>
                    <input asp-for="ListPrice" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price" class="ms-2"></label>
                    <input asp-for="Price" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price50" class="ms-2"></label>
                    <input asp-for="Price50" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price100" class="ms-2"></label>
                    <input asp-for="Price100" disabled class="form-control border-0 shadow" type="text" class="form-control" />
                </div>

                <div class="row pt-5 mb-5 justify-content-around">

                    <div class="col-6 col-md-3">
                        <button type="submit"
                                class="btn btn-outline-danger form-control">
                            Delete
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Product"
                           asp-action="Index"
                           class="btn btn-outline-success form-control">
                            Back To List
                            <i class="bi bi-backspace"></i>
                        </a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
                        }