@model Product;

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Book &nbsp; <i class="bi bi-book"></i></h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row">

            <input asp-for="Id" hidden/>

            <div class="border p-3 ">

                <div class="form-floating py-2 pt-3 col-12">
                    <label asp-for="Title" class="ms-2"></label>
                    <input asp-for="Title" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Description" class="ms-2"></label>
                    <textarea asp-for="Description" class="form-control border-0 shadow" type="text" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="ISBN" class="ms-2"></label>
                    <input asp-for="ISBN" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Author" class="ms-2"></label>
                    <input asp-for="Author" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="ListPrice" class="ms-2"></label>
                    <input asp-for="ListPrice" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price" class="ms-2"></label>
                    <input asp-for="Price" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price50" class="ms-2"></label>
                    <input asp-for="Price50" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12 pt-3 mt-3">
                    <label asp-for="Price100" class="ms-2"></label>
                    <input asp-for="Price100" class="form-control border-0 shadow" type="text" class="form-control" />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="row pt-5 mb-5 justify-content-around">

                    <div class="col-6 col-md-3">
                        <button type="submit"
                                class="btn btn-outline-success form-control">
                            Upadate Book 
                            <i class="bi bi-book"></i>
                        </button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Product"
                           asp-action="Index"
                           class="btn btn-outline-danger form-control">
                            Back
                            <i class="bi bi-backspace"></i>
                        </a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
